<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Healthy food</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>

<header th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/healthy-food.jpg" alt="logo" width="60" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto col-12 justify-content-between">
                    <div class="navbar-collapse">
                        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Add recipe
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/meals/add}">Add meal</a></li>
                                <li><a class="dropdown-item" th:href="@{/drinks/add}">Add drink</a></li>
                                <li><a class="dropdown-item" th:href="@{/desserts/add}">Add dessert</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">Meals
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/meals/breakfast}">Breakfast</a></li>
                                <li><a class="dropdown-item" th:href="@{/meals/lunch}">Lunch</a></li>
                                <li><a class="dropdown-item" th:href="@{/meals/dinner}">Dinner</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/drinks}">Drinks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/desserts}">Desserts</a>
                        </li>
                    </div>
                    <div class="navbar-collapse right">
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link"
                               th:href="@{/users/profile/{username}(username = ${#authentication.name})}">My
                                profile</a>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/admin/add-role}">Add role</a></li>
                                <li><a class="dropdown-item" th:href="@{/admin/statistics}">Statistics</a></li>
                            </ul>
                        </li>
                        <th:block sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/about}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/users/login}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/users/register}">Register</a>
                            </li>
                        </th:block>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form th:action="@{/users/logout}" th:method="post">
                                <input id="logout-btn" class="btn-link nav-link" type="submit" value="Logout">
                            </form>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>

<footer th:fragment="footer">
    <h7 class="text-black">
        &copy; Healthy Food 2021. All rights reserved.
    </h7>
</footer>