body {
    background-color: #72d812a6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    text-align: center;
}

.content {
    min-height: calc(100vh - 80px);
  }

#logout-btn {
    background-color: #f8f9fa;
    border-style: none;
}

.navbar .logo {
    max-height: 60px;
    padding-right: 100px;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #77b141;
}

.dropdown-item {
    color: black;
}

.dropdown-item:active {
    background-color: #77b141;
}

.container-fluid {
    padding-right: 1.75rem;
}

main {
    margin-top: 70px;
}

.input-card {
    height: auto;
    width: 100%;
    border-radius: 8px;
}


.login {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px
}

.input-field label {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-left: 10px
}

#remember {
    font-size: 15px; 
    margin-left: 10px;
}

.form-control {
    font-size: 13px;
    color: #767473;
    font-weight: 500;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #9b9b9b;
    box-shadow: none
}

.btn {
    height: 35px;
    width: 100%;
    background-color: #000;
    font-weight: 500;
    color: #cdcdc4;
    border: none;
    font-size: 15px
}


.register {
    color: #4f4942;
    font-weight: bold;
    padding-left: 0.4rem;
}

.register:hover{
    color:black;
}

.card-img-top-wrapper {
    overflow:hidden;
    width: 100%;
    height: 225px;
}

.recipe-form{
    padding-bottom: 3rem;
    width: 40%;
    background-color: burlywood;
    border-radius: 20px;
}

@media all and (max-width: 770px) {
    .recipe-form {
      width: 80%;
    }
}

.form-button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form-button:hover {
  background-color: #77b141;
}

.form-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .form-button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.about-circle {
    margin-top: 20px;
    width: 600px;
    height: 500px;
    border-radius: 30%;
    text-align: center;
    background: lightyellow
}

.circle-text {
	font: 25px Serif;
	text-align : center;
	position : relative;
	top : 15%;
	transform : translateY(-50%);
}

.user-pic {
    border-radius: 15px 50px 50px 15px;
}

.user-info {
    border-radius: 15px
}

.center {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}



.form{
    margin: 0 auto;
}

.profile{
    margin: 0 auto;
    margin-right: 1rem;
}

#img-section{
    width: 45%;
    margin-left: 70px;
}

#info-section {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 30px;
    margin-right: 380px;
    height: 30%;
}

.details-img {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 1%;
}

.details-info {
    background-color: navajowhite;
    background-repeat: no-repeat, repeat;
    border-radius: 1%;
}

.comments{
    width: 45%;
    margin-bottom: 1%;
}

.recipe {
    display: flex;
    justify-content: space-between;
}

#recipe-title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.username {
    font-weight: bold;
    color: brown;
    text-decoration: none;
}

.username:hover {
    text-decoration: underline;
    color: brown;
}

.m-auto {
    margin: 0 auto;
}

.section-margin {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .center {
    width: 90%;
    margin: 0 auto;
    padding: 0 25px;
  }
    .about-container{
    width: 350px;
    height: 400px;
    margin: 0 auto;
    font-size: 5px;
    }

    .circle-text{
        font-size: 20px;
    }
    
    .m-auto {
        width: 70%;
    }

    .recipe {
        flex-direction: column;
    }

    #img-section {
        width: 100%;
        flex-grow: 1;
        margin: 0;
    }

    .details-img {
        width: 100%;
    }

    #info-section {
        width: 100%;
    }

    .comments {
        width: 100%;
        padding-bottom: 20px;
    }
}