<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>

<main class="mx-auto">
    <div class="container pt-5">
        <h1 class="text-center fw-light fst-italic text-black">About</h1>

        <div class="about-circle about-container">
            <p class="circle-text">
                Have you ever happened
            </p>

            <h3 class="circle-text">
                to lose your favourite recipe ?
            </h3>
            <br>
            <h3 class="circle-text">
                Forget about that !
            </h3>
            <br>
            <h3 class="circle-text">
                Here, you can store all together
            </h3>
            <h3 class="circle-text">
                your healthy meal and
            </h3>
            <h3 class="circle-text">
                drink recipes fast and easy !
            </h3>
            <br>
            <h3 class="circle-text">
                Make an account to
            </h3>
            <h3 class="circle-text">
                share them with your friends
            </h3>
            <h3 class="circle-text">
                and leave comments.
            </h3>
        </div>
    </div>
</main>

<footer th:replace="fragments/commons :: footer"></footer>

</body>

</html>