<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>

<main>
    <section class="pt-5 pb-2 text-center container">
        <h1 class="fw-light text-black">Add role</h1>
    </section>

    <div class="col-sm-9 col-md-5 col-lg-3 m-auto">
        <select class="form-select mb-4" aria-label="Default select example">
            <option selected>Choose user</option>
            <option value="">Username</option>
        </select>
        <select class="form-select decorated" aria-label="Default select example">
            <option selected>Choose role</option>
            <option value="">Admin</option>
        </select>
        <div class="col-sm-8 col-md-12 col-lg-6 mx-auto">
            <button type="submit"
                    class="form-button mt-3 btn btn-dark d-flex justify-content-center align-items-center">
                Add role
            </button>
        </div>
    </div>


</main>

<footer th:replace="fragments/commons :: footer"></footer>

</body>

</html>