<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>

<main>
    <section class="pt-5 pb-2 text-center container">
        <h1 class="fw-light text-black">Change password</h1>
    </section>

    <div class="container center">

        <form class="col-md-6 form">
            <div class="card mb-3 user-info">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group input-field d-flex flex-column mt-3">
                            <label for="current-password">Current password</label>
                            <input id="current-password" name="current-password" type="password" min="2" max="20"
                                   class="form-control"
                                   placeholder="Enter current password">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group input-field d-flex flex-column mt-3">
                            <label for="new-password">New password</label>
                            <input id="new-password" name="new-password" type="password" min="2" max="20"
                                   class="form-control"
                                   placeholder="Enter new password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group input-field d-flex flex-column mt-3">
                            <label for="confirm-password">Confirm new password</label>
                            <input id="confirm-password" name="confirm-password" type="password" min="2" max="20"
                                   class="form-control"
                                   placeholder="Enter new password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-md-12 col-lg-6 mx-auto">
                            <button type="submit"
                                    class="form-button mt-3 btn btn-dark d-flex justify-content-center align-items-center"
                            >Submit changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>

</main>

<footer th:replace="fragments/commons :: footer"></footer>

</body>

</html>