<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>

<main>

    <section class="py-5 text-center container">
        <h1 class="fw-light fst-italic text-black">Edit recipe</h1>
    </section>

    <div class="container recipe-form">
        <form class="row gy-3">
            <div class="col-md-7 col-lg-6">
                <label for="title" class="form-label">Title</label>
                <input th:field="*{title}" th:errorclass="is-invalid" type="text" class="form-control" id="title">
                <small class="invalid-feedback bg-danger text-light rounded">
                    Title must be between 2 and 20 characters.
                </small>
            </div>
            <div class="col-md-4 col-lg-3">
                <label for="prepTime" class="form-label">Prep time (min)</label>
                <input type="number" class="form-control" id="prepTime">
            </div>
            <div class="col-md-4 col-lg-3">
                <label for="cookTime" class="form-label">Cook time (min)</label>
                <input type="number" class="form-control" id="cookTime">
            </div>
            <div class="col-md-10 col-lg-10">
                <label for="imageUrl" class="form-label">Image URL</label>
                <input type="url" class="form-control" id="imageUrl">
            </div>
            <div class="col-md-4">
                <label for="category" class="form-label">Category</label>
                <select id="category" class="form-select">
                    <option value="" selected>Choose category</option>
                    <option value="" text="">BREAKFAST</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="difficulty" class="form-label">Difficulty</label>
                <select id="difficulty" class="form-select">
                    <option value="" selected>Choose difficulty</option>
                    <option value="" text="">EASY</option>
                </select>
            </div>

            <div class="col-md-12">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="4"></textarea>
            </div>

            <div class="col-md-12">
                <label for="ingredients">Ingredients</label>
                <textarea class="form-control" id="ingredients" rows="4"></textarea>
            </div>

            <div class="col-md-12">
                <label for="instructions">Instructions</label>
                <textarea class="form-control" id="instructions" rows="7"></textarea>
            </div>

            <div class="col-sm-8 col-md-12 col-lg-6 mx-auto">
                <button type="submit"
                        class="form-button mt-2 btn btn-dark d-flex justify-content-center align-items-center">Confirm
                    changes
                </button>
            </div>
        </form>
    </div>

</main>

<footer th:replace="fragments/commons :: footer"></footer>

</body>

</html>