<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light text-black">Are you ready to start eating healthy?</h1>
                <p class="lead text-bold">Discover new healthy and decilious recipes.</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <h3 class="fw-light text-black"><u>Here are some of our latest recipes:</u></h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top-wrapper"
                             src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg"
                             alt="Food image">
                        <div class="card-body pb-1">
                            <h5 class="card-title" text="">
                                Recipe name</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Recipe description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-outline-secondary" href="#" role="button">Read
                                        more</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>


<footer th:replace="fragments/commons :: footer"></footer>

</body>

</html>