<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>

<main>
    <section class="pt-5 pb-2 text-center container">
        <h1 class="fw-light text-black">Profile</h1>
    </section>

    <div class="container center" th:object="${user}">

        <div class="row py-3">
            <div class="col-md-4 mb-3 profile">
                <div class="card user-pic">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img th:src="*{profilePictureUrl}" alt="Picture"
                                 class="rounded-circle" width="150">
                            <div>
                                <th:block th:if="${isCurrentUser}">
                                    <small id="views" th:text="|Views by admins: ${views}|"></small>
                                    <a th:href="@{/users/profile/upload-photo/{username}(username = *{username})}"
                                       class="form-button mt-3 btn btn-dark d-flex justify-content-center align-items-center">Upload
                                        photo</a>

                                    <form th:action="@{/users/profile/delete-photo/{username}(username = *{username})}"
                                          th:method="delete">
                                        <button type="submit"
                                                class="form-button mt-3 btn btn-dark d-flex justify-content-center align-items-center">
                                            Delete photo
                                        </button>
                                    </form>
                                </th:block>
                                <hr>
                                <a th:href="@{/users/profile/recipes/{username}(username = *{username})}"
                                   class="form-button mt-3 mb-1 btn btn-dark d-flex justify-content-center align-items-center">User's
                                    recipes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-3 user-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h7 class="mb-0" th:text="*{username}">Username</h7>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h7 class="mb-0" th:text="*{firstName}">First name</h7>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h7 class="mb-0" th:text="*{lastName}">Last name</h7>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h7 class="mb-0" th:text="*{email}">Email</h7>
                            </div>
                        </div>
                        <hr>
                        <th:block th:if="${isCurrentUser}">
                            <div class="row">
                                <div class="col-sm-8 col-md-12 col-lg-6 mx-auto">
                                    <a th:href="@{/users/profile/edit-profile/{username}(username = *{username})}"
                                       class="form-button mt-3 btn btn-dark d-flex justify-content-center align-items-center"
                                    >Edit profile</a>
                                </div>
                                <div class="col-sm-8 col-md-12 col-lg-6 mx-auto">
                                    <a th:href="@{/users/profile/change-password/{username}(username = *{username})}"
                                       class="form-button mt-3 btn btn-dark d-flex justify-content-center align-items-center"
                                    >Change password</a>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="fragments/commons :: footer"></footer>

</body>

</html>