<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>

<main>
    <section class="pt-5 pb-2 text-center container">
        <h1 class="fw-light text-black">Upload photo</h1>
    </section>

    <div class="col-sm-8 col-md-5 col-lg-3 m-auto">
        <div class="col-md">
            <div class="form-floating">
                <input type="url" class="form-control" id="floatingInputGrid" placeholder="https://photo.com" value="">
                <label for="floatingInputGrid">Photo URL</label>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-6 mx-auto">
            <button type="submit"
                    class="form-button mt-3 btn btn-dark d-flex justify-content-center align-items-center">
                Submit
            </button>
        </div>
    </div>


</main>

<footer th:replace="fragments/commons :: footer"></footer>

</body>

</html>