<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>

<main>
    <section class="pt-5 pb-2 text-center container">
        <h1 class="fw-light text-black">Upload photo</h1>
    </section>

    <div class="col-sm-8 col-md-5 col-lg-3 m-auto mt-3">
        <form th:action="@{/users/profile/upload-photo/{username}(username = ${#authentication.name})}"
              th:method="post"
              enctype="multipart/form-data">
            <input type="file" class="form-control" id="floatingInputGrid" placeholder="Photo"
                   th:field="${userUploadPhotoBindingModel.picture}"
                   th:errorclass="is-invalid" required>
            <small th:errors="${userUploadPhotoBindingModel.picture}" class="invalid-feedback errors alert alert-danger">
                Picture is required.
            </small>
            <div class="col-sm-5 col-md-5 col-lg-6 mx-auto">
                <button type="submit"
                        class="form-button mt-3 btn btn-dark d-flex justify-content-center align-items-center">
                    Submit
                </button>
            </div>
        </form>
    </div>


</main>

<footer th:replace="fragments/commons :: footer"></footer>

</body>

</html>